/* h1 {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  
  .success {
    display: none;
    background: #E1F8ED;
    padding: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    &.is-active {
      display: block;
    }
  } */

  input[type=text], select, textarea{
    width: 70%;
    height: 40px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    float: center;
  }
  
  
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #232ed3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
  }
  
  
  
